<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="MovieManager.ContextModel.Properties.Settings.LMDBConnectionString"
		 connectionString="Data Source=SAM-PC\SQLEXPRESS;Initial Catalog=LMDB;Integrated Security=True"
		 providerName="System.Data.SqlClient" />
		<add name="MovieManager.ContextModel.Properties.Settings.LMDB_1ConnectionString"
		 connectionString="Data Source=SAM-PC\SQLEXPRESS;Initial Catalog=LMDB_1;Integrated Security=True"
		 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>